@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
}

.activeIcon path {
  fill: #C8B568;
}

.activeIcon circle {
  fill: #C8B568
}

.Icon path {
  fill: #f9f9f986;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

.PillList-item {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 12px 12px 0;
  text-transform: capitalize;
}

.PillList-item input[type="checkbox"] {
  display: none;
}

.PillList-item input[type="checkbox"]:checked+.PillList-label {
  background-color: rgb(215, 212, 212);
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 500;
}

.PillList-label {
  background-color: #fff;
  border-radius: 20px;
  display: block;
  padding: 7px 28px;
  text-decoration: none;
}

.PillList-item input[type="checkbox"]:checked+.PillList-label .Icon--checkLight {
  display: inline-block;
}

.PillList-item input[type="checkbox"]:checked+.PillList-label .Icon--addLight,
.PillList-label .Icon--checkLight,
.PillList-children {
  display: none;
}

.PillList-label .Icon {
  width: 12px;
  height: 12px;
  margin: 0 0 0 12px;
}

@tailwind utilities;